* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  :root {
    --my-darkblue: #2C3E50;
    --my-lightblue: #BDD4DE;
    --my-orange: #FFA07A;
    --my-gray: #D5D5D5;
    --my-green: #38EB83;
  }

body{
    background: linear-gradient(45deg, black, var(--my-darkblue) 80%, var(--my-lightblue));
    color: var(--my-gray);
    margin: 0 5vw 0 5vw;
}

h1,h3{
    color: var(--my-green)
}

main{
  margin: 30px;
}