* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  :root {
    --my-blue: #3F5765;
    --my-darkblue: #2C3E50;
    --my-lightblue: #BDD4DE;
    --my-orange: #FFA07A;
    --my-gray: #D5D5D5;
    --my-green: #38EB83;
  }

body{
    color: var(--my-darkblue);
    margin: 0;
}

h1,h3{
    color: var(--my-green);
    text-shadow: 1px 1px 2px black;
}
