@import "./global.css";

header{
    background-color: var(--my-darkblue);
    position: sticky;
    top:0;
    padding: 8px;
}

.nav_bar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 8px;
}

.nav_li{
    background-color: var(--my-orange);
    padding: 5px 14px;
    border-radius: 5px;
   
}

.nav_li a{
    text-decoration: none;
    color:var(--my-darkblue);
}